* {
	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	&:active,
	:focus {
		outline: none !important;
	}
}

label {
	margin: 0;
}

html,
body {
	background: #e8eaf6;
	height: 100%;
}

code {
	border-radius: 10px;
	padding: 0 8px 1px;
	white-space: nowrap;
}
